body {
  font-family: 'Merriweather', serif;
  color: #212529;
  background-image: url(../img/Hippopx.jpg);
  background-repeat: repeat;
}

nav,
nav a,
.navbar-light .navbar-nav .nav-link {

  color: #ffc000;
  font-size: x-large;
  font-weight: 900;
}

.nav-black {
  background-color: #ffc000;
  background-image: url(../img/pizza.png);
  background-repeat: repeat-x;
  color: #212529;
  font-size: x-large;
  font-weight: 900;
}

.nav-black a,
.nav-black .navbar-nav .nav-link {

  color: #212529;
  font-size: x-large;
}

a:hover,
.nav-black .navbar-nav .nav-link:focus,
.nav-black .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #dc3545;
}

.navbar-toggler {
  background-color: #ffc000;
  color: #212529;
  margin-right: 4rem;
}

.carousel-item img {
  width: 100% !important;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 5rem;
  font-weight: bolder;

}
h2 {
  font-family: 'Cookie', cursive;
  font-size: 4rem;
  font-weight: bolder;

}
h3 {
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  font-weight: bolder;

}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

h5 {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

hr {
  height: 4px !important;
  background-color: #ffc000;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#Carta {
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: transparent;
}

.card-title {
  justify-content: center;
  font-family: 'Cookie', cursive;
}

.card img {
  padding-top: 1rem;
  max-height: 150px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: none;
}

ul {
  list-style-type: none;
  margin-left: 5rem;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#Pizzas {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/pizzaSlide.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 25rem;
}


#Hamburguesas {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/burger.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 15rem;

}

#Sandwichs {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/long-sandwich.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 25rem;
}

#Chorrillanas {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/chorrillana2.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 20rem;
}

#Rafiky {
  margin-left: auto;
  margin-right: auto;

}

footer {
  font-family: 'Fredoka One', cursive;
  background-color: #ffc000;
  background-image: url(../img/pizza.png);
  background-repeat: repeat-x;
  width: 100% !important ;
  color: #212529;

}

footer a {
  background-color: #ffc000;
  color: #212529;
  font-size: large;
}